Following is the Django project hierarchy:<br>
- Django-learn_Project<br>
  - urls.py: Navigate to diffent apps
  - settings.py<br>
  - media: Containing all apps media (media/app1/a.jpg, b.jpg...)<br>
  - apps.. <Like pwd_generator here><br>
    &nbsp;&nbsp;- templates/ : Containing all html pages <br>
    &nbsp;&nbsp;- views.py   : Containing python handlers for all URLs<br>
    &nbsp;&nbsp;- models.py  : To define your database schema<br>
    &nbsp;&nbsp;- admin.py   : To register your admin models<br>

<br><br>
Following path was taken to come here<br/>
This home page matched empty string '' in urls.py which maps to views.home (aka 
 <i>def home:</i> in views.py)<br/>
The home function specified this html file from the templates folder to be sent back.<br/>
This output has some dynamic content, like the password=<b>{{password}}</b> which is passed
down by the home function through a dictionary having key-value pairs.
<br><br>
Next step: Check /form.html